.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    background-color: rgb(162, 24, 231);
    height: 40px;
}

.navba .nav-link {
    color: black;
    text-decoration: none;
}
