* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

/* ===== Layout geral ===== */
body {
    display: flex;
    height: 100vh;
    background: #f5f8fc;
}

/* ===== LEFT PAGE ===== */
.container-login {
    width: 45%;
    background: white;
    padding: 30px 80px;
}

.container-login img{
    width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

}

.container-login h2 {
    text-align: center;
    font-size: 30px;

    margin-bottom: 15px;
    color: #2b2b2b;
}

.container-login p {
    margin-top: 14px;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #555;
    margin-bottom: 8px;
    
    text-align: center;
}

.teste{

}

.paragrafo{
display: inline-block;
text-align: center;
margin-left: 35px;

}
.container-login a {
    color: #d47a33;
    text-decoration: none;
    font-weight: 600;
}

.container-login input {
    width: 100%;
    padding: 14px;
    margin-bottom: 20px;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    font-size: 15px;
}

.container-login input:focus {
    border-color: #c56a2c;
    outline: none;
}

/* ===== Botão Login ===== */
.button-login {
    width: 100%;
    height: 50%;
    background: #d97833;
    color: white;
    padding: 16px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
}

.button-login:hover {
    background: #c06929;
}

/* ===== RIGHT PAGE ===== */
.right-page {
    width: 55%;
    background-image:url("fundo-bear.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.div-center {

    width: 300px;
    height: 340px;
    background: white;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.div-center h4 {
    font-size: 20px;
    color: #2b2b2b;
}

.div-center p {
    font-size: 12px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 15px;
}

/* ===== Botão "Learn More" ===== */
.div-center button {
    margin-top: 15px;
    background: #d97833;
    padding: 15px 80px;
    border: none;
    color: white;
    font-size: 10px;
    cursor: pointer;
    font-weight: 300;
    text-align: left;
}

.div-center button:hover {
    background: #c06929;
}

.a{
    font-size: 10px;
}

.container-geral{ 
    display: flex;
    width: 100%;
    height: 100vh;
    
}